<head>
  <title>Weather</title>
</head>
<body>
{{> home}}
</body>
<template name="home">
  <div class="container is-fluid">
  <section class="hero is-dark">
    <div class="container">
    <div class="hero-body">
      <h2 class="title">
        Weather in Moscow
      </h2>
    </div>
    </div>
  </section>
  <section>
    <div class="container is-fluid">
      <div class="level-item has-text-centered">
    <input type="submit" class="button" id="but" value="Fetch"><br/></div>
    {{#each list in number}}
  <div class="box is-outlined">
    <div class="title has-text-justified">
      {{display}}
    </div>
    <div class="content">
      <div class="subtitle level-item level-left">
        At
      </div>
      <div class="content level-item level-right">
        {{list.dt_txt}}
      </div>
      <div class="subtitle level-item level-left">
        Minimum Temperature in Kelvin
      </div>
      <div class="content level-item level-right">
        {{list.main.temp_min}}K
      </div>
      <div class="subtitle level-item level-left">
        Maximium Temperature in Kelvin
      </div>
      <div class="content level-item level-right">
        {{list.main.temp_max}}K
      </div>
      {{#each description in list.weather}}
      <div class="subtitle level-item level-left">
          Forecast
      </div>
      <div class="content level-item level-right">
        {{description.description}}
      </div>
        {{/each}}
    </div>
  </div>

{{/each}}

</div>
</section>
</div>
</template>
